<h2>Parameters</h2>
<hr>
<div class="table">
  <table>
    <tr>
      <td>E-value threshold (clustering)</td>
      <td>${threshold_c}</td>
    </tr>
    <tr>
      <td>No. of partitions</td>
      <td>${num_partitions}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><b>Optional parameters:</b></td>
        <td></td>
    </tr>
    <tr>
        <td>Redundancy redunction</td>
        <td>${redundancy_reduction}</td>
    </tr>
    <tr>
        <td>E-value threshold (Redundancy redunction)</td>
        <td>${threshold_r}</td>
    </tr>
    <tr>
        <td>Cluster pruning</td>
        <td>${cluster_pruning}</td>
    </tr>

  </table>
</div>
