<h2>Parameters</h2>
<div class="table">
  <table>
    <tr>
      <td>Threshold (clustering)</td>
      <td>${threshold_c}</td>
    </tr>
    <tr>
      <td>No. of partitions</td>
      <td>${num_partitions}</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td><b>Optional parameters:</b></td>
        <td></td>
    </tr>
    <tr>
        <td>Redundancy redunction</td>
        <td>${redundancy_reduction}</td>
    </tr>
    <tr>
        <td>Threshold (Redundancy redunction}</td>
        <td>${threshold_r}</td>
    </tr>
    <tr>
        <td>Cluster separation</td>
        <td>${cluster_separation}</td>
    </tr>

  </table>
</div>
